dcktype html 
html 
    head 
        title hello 
    body
        h1 Hello World 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut fugit dignissimos placeat voluptas, modi officia asperiores sed illo aut ipsa unde, deleniti molestias atque est qui repellendus explicabo totam velit. Dolores adipisci soluta distinctio laudantium voluptatibus quos temporibus, vel delectus veritatis magni reiciendis eos pariatur iste quas excepturi nesciunt cumque ipsum quis possimus, libero ratione nihil? Exercitationem nihil quos sed eius beatae itaque non illum, dolore harum nesciunt, iure ab nam sit perspiciatis in molestiae, eveniet numquam porro placeat! Cum officiis necessitatibus repellendus ea quia. Quasi odit porro facere quo autem, qui veniam exercitationem soluta perferendis mollitia, error ipsam sed?
        br 
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit vitae reiciendis doloribus a earum commodi, blanditiis neque quam maxime debitis. Officiis eaque quisquam eveniet. Perferendis dignissimos debitis assumenda veniam quibusdam optio fugit expedita. Dolor blanditiis repudiandae molestias libero, quae aut, totam, neque quibusdam enim voluptates facere obcaecati quas labore temporibus maxime exercitationem accusantium. Minus culpa asperiores corporis, odio commodi sit ducimus fugiat veritatis unde cum libero eaque dolore omnis ipsa blanditiis ullam quidem nisi, voluptatibus officia. Eveniet veniam quae sed harum doloremque exercitationem voluptatibus aliquam cumque quos in, quidem nostrum, quaerat, impedit numquam sunt enim mollitia. Impedit dolor incidunt iste.
                 